/* Global styles */

.wrapper {
  margin: 0 auto;
  width: 1180px;
}

a {
  text-decoration: none;
  color: #e02929;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  margin-left: 15px;
  margin-bottom: 10px;
}

.alignleft {
  float: left;
  margin-right: 15px;
  margin-bottom: 10px;
}

strong{
  font-weight: 600;
}

body {
  font-family: "Open Sans", sans-serif;
  height: 100%;
  width: 100%;
}